<!DOCTYPE html>
<html>
<head>
    <title>Quiz Question</title>
</head>
<body>
    <h1>Question</h1>
    <p>{{ question.question_text }}</p>
    <form method="POST" action="{% url 'submit_answer' session_id=session_id question_id=question.id %}">
        {% csrf_token %}
        <input type="radio" id="option_a" name="answer" value="{{ question.option_a }}">
        <label for="option_a">{{ question.option_a }}</label><br>
    
        <input type="radio" id="option_b" name="answer" value="{{question.option_b }}">
        <label for="option_b">{{ question.option_b }}</label><br>
    
        <input type="radio" id="option_c" name="answer" value="{{ question.option_c }}">
        <label for="option_c">{{ question.option_c }}</label><br>
    
        <input type="radio" id="option_d" name="answer" value="{{ question.option_d }}">
        <label for="option_d">{{ question.option_d }}</label><br><br>
    
        <button type="submit">Submit Answer</button>
    </form>
</body>
</html>
